
     .custom-navbar{
        background-color: rgb(32, 37, 93);
        padding-top: 25px;/*Increase top padding*/
        padding-bottom: 25px;/*Increase bottom paddingt*/
     }
     .navbar-nav {
        flex-grow: 1;
       margin-left: 100px;
     }
    
     .navbar-nav .nav-link {
      color: white;
      font-weight: bold;
      font-size: 18px;
     }

     .navbar-brand{
      display: flex;
      align-items: center;
      margin-left:1px; /*increase right margin to separate logo from text*/
     }

    img{
      height: 160px; 
       width:auto;
       margin-left:20px; 
       margin-top: 0px;

     }

     span{
      font-weight: bold;
      font-size:30px;
      color: white;
      margin-left: 10px; /* Add margin to separate text from logo */
     }
     